body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/92/12/9057e226f57d435.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1{
    text-align: center;
}

div.desc {
    padding: 15px;
    text-align: center;
  }

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card{
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: row;
}


.carousel { 
    justify-content: center;
	width: 270px; 
	height: 160px; 
	overflow: hidden; 
	background-color: #cdcdcd; 
} 

.carousel-item .slide-image { 
	width: 270px; 
	height: 160px; 
	background-size: cover; 
	background-repeat: no-repeat; 
} 

.carousel-item { 
	justify-content: center;
	width: 100%; 
	height: 270px; 
	border: none; 
	top: 0; 
	left: 100%; 
} 

.carousel-item.active { 
	left: 0; 
	transition: all 0.3s ease-out; 
} 

.carousel-item div { 
	height: 100%; 
} 

.red { 
	background-color: red; 
} 

.green { 
	background-color: green; 
} 

.yellow { 
	background-color: yellow; 
} 

.violet { 
	background-color: violet; 
}
