body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/92/12/9057e226f57d435.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1{
    text-align: center;
}

div.desc {
    padding: 15px;
    text-align: center;
  }

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}